{% extends "base.html.twig" %}

{% block body %}
    <div class="text-center">
        <h2>Le concept</h2>
    </div>
    <div class="container">
        <p class="text-center">
            Nouveau lieu de vie à partager avec toutes<br>
            celles et ceux qui le souhaitent.
        </p>
        <p class="text-center">
            Sur place, mes créations en tricot et<br>
            couture, une gamme de produits conçus<br>
            dans une démarche éco-responsable, des<br>
            accessoires, des ponchos peignoirs de bains,<br>
            des paniers en tricot…
        </p>
        <p class="text-center">
            Découvrir les bases du tricot avec des<br>
            réalisations simples et se retrouver le temps<br>
            d’un ouvrage fait sur place.<br>
            S’initier à la couture ou venir essayer<br>
            une machine à coudre le temps d’une<br>
            démarche zéro déchet.
        </p>
        <p class="text-center">
            SOS tricot pour débloquer les<br>
            difficultés d’un ouvrage en cours.
        </p>
        <p class="text-center">
            Expositions ponctuelles artisanales et<br>
            artistiques.
        </p>
    </div>
{% endblock %}