{% extends "base.html.twig" %}

{% block title %} L'échoppe créative {% endblock %}


{% block body %}
    <div class="content">
        <h2 class="center">Le concept</h2>
        <div class="concept">
            <p>
                Nouveau lieu de vie à partager avec toutes<br>
                celles et ceux qui le souhaitent.
            </p>
            <p>
                Sur place, mes créations en tricot et<br>
                couture, une gamme de produits conçus<br>
                dans une démarche éco-responsable, des<br>
                accessoires, des ponchos peignoirs de bains,<br>
                des paniers en tricot…
            </p>
            <p>
                Découvrir les bases du tricot avec des<br>
                réalisations simples et se retrouver le temps<br>
                d’un ouvrage fait sur place.<br>
                S’initier à la couture ou venir essayer<br>
                une machine à coudre le temps d’une<br>
                démarche zéro déchet.
            </p>
            <p>
                SOS tricot pour débloquer les<br>
                difficultés d’un ouvrage en cours.
            </p>
            <p>
                Expositions ponctuelles artisanales et<br>
                artistiques.
            </p>
        </div>
    </div>
{% endblock %}