.category-img {
  border-radius: 120px;
  max-width: 358px;
  display: block;
  margin: auto;
}

.category-mini {
  border-radius: 120px;
  max-width: 70px;
  display: block;
  margin: auto;
}

.text-colored {
  color: #B0413E;
}