body {
  &.divDebug {
    * {
      border: 1px solid #57B64F;
      background-color: rgba(87, 182, 79, 0.3);
      opacity: 1 !important;
    }
  }

  &.size {
    &:after {
      position: fixed;
      bottom: 35px;
      left: 0px;
      background-color: pink;
      padding: 8px;
      color: #fff;
      font-weight: bold;
      opacity: 0.5;
      border: 2px solid #FFF;
      font-size: 25px;

      @include media-breakpoint-only(xs) {
        content: "XS";
      }
      @include media-breakpoint-only(sm) {
        content: "SM";
      }
      @include media-breakpoint-only(md) {
        content: "MD";
      }
      @include media-breakpoint-only(lg) {
        content: "LG";
      }
      @include media-breakpoint-only(xl) {
        content: "XL";
      }
    }
  }
  font-family: 'Open Sans', sans-serif;
}