{% extends 'base.html.twig' %}

{% block title %}Editer catégorie{% endblock %}

{% block body %}
    <div class="m-4 row justify-content-center">
        {{ include('admin/category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        {{ include('admin/category/_delete_form.html.twig') }}
    </div>
{% endblock %}
