{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h2 class="m-2 center">Ajouter une catégorie</h2>
    <div class="m-4 row justify-content-center">

        {{ include('admin/category/_form.html.twig') }}
    </div>
{% endblock %}
