<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <title>{% block title %} L'échoppe créative {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<header>
    {{ render(controller('App\\Controller\\WebSiteController::navbar', {'request': app.request})) }}
</header>
<body {% if app.environment == 'dev' %} class="size" {% endif %}>
<div class="container min-vh">
    {% block body %}{% endblock %}
</div>
{% include '_footer.html.twig' %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
