{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h2 class="m-2 center">Ajouter un article</h2>

    {{ include('admin/article/_form.html.twig') }}

{% endblock %}
